<configuration>
  <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
    <!-- This should be set to the new Logging Enhancer in the app code. -->
    <resourceType>gae_app</resourceType>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CLOUD" />
  </root>
</configuration>
