<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="false"
  version="3.0">

  <display-name>Max Response Size Test</display-name>
  <servlet>
    <servlet-name>MaxResponseSizeTestServlet</servlet-name>
    <servlet-class>org.example.SizedResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaxResponseSizeTestServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BugReproducerServlet</servlet-name>
    <servlet-class>org.example.BugReproducerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BugReproducerServlet</servlet-name>
    <url-pattern>/bug</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BugReproducerServlet</servlet-name>
    <url-pattern>/Bug</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>DumpServlet</servlet-name>
    <servlet-class>org.example.DumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpServlet</servlet-name>
    <url-pattern>/dump/*</url-pattern>
  </servlet-mapping>
</web-app>


