<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="false"
  version="3.0">

  <display-name>Max Response Size Test</display-name>

  <servlet>
    <servlet-name>SizedResponseServlet</servlet-name>
    <servlet-class>org.example.SizedResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizedResponseServlet</servlet-name>
    <url-pattern>/size</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoggerDumpServlet</servlet-name>
    <servlet-class>org.example.LoggerDumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerDumpServlet</servlet-name>
    <url-pattern>/logger</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>org.example.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DumpServlet</servlet-name>
    <servlet-class>org.example.DumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StackTraceServlet</servlet-name>
    <servlet-class>org.example.StackTraceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StackTraceServlet</servlet-name>
    <url-pattern>/stackTrace</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QuickStart</servlet-name>
    <servlet-class>org.example.QuickStartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickStart</servlet-name>
    <url-pattern>/quickstart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DefaultServlet</servlet-name>
    <servlet-class>org.eclipse.jetty.ee10.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>baseResource</param-name>
      <param-value>console</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultServlet</servlet-name>
    <url-pattern>/console/*</url-pattern>
  </servlet-mapping>

<!--  <filter>-->
<!--    <filter-name>LastModifiedFilter</filter-name>-->
<!--    <filter-class>org.example.LastModifiedFilter</filter-class>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>LastModifiedFilter</filter-name>-->
<!--    <url-pattern>/*</url-pattern>-->
<!--    <dispatcher>REQUEST</dispatcher>-->
<!--    <dispatcher>FORWARD</dispatcher>-->
<!--    <dispatcher>INCLUDE</dispatcher>-->
<!--    <dispatcher>ASYNC</dispatcher>-->
<!--    <dispatcher>ERROR</dispatcher>-->
<!--  </filter-mapping>-->
</web-app>


