<?xml version="1.0" encoding="UTF-8"?>
<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  metadata-complete="false"
  version="3.0">

  <display-name>Max Response Size Test</display-name>

  <servlet>
    <servlet-name>SizedResponseServlet</servlet-name>
    <servlet-class>org.example.SizedResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SizedResponseServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoggerDumpServlet</servlet-name>
    <servlet-class>org.example.LoggerDumpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerDumpServlet</servlet-name>
    <url-pattern>/logger</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>org.example.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>


